@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
}
select {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
